transformers
weaviate-client>=4.0.0
numpy
pandas
requests
python-dotenv
accelerate 
bitsandbytes
sentence_transformers==2.7.0
streamlit-autorefresh
detoxify
textblob


--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.3.1+cpu 
